.product {
  min-width: 600px;
  width: calc(52% - 30px); 
  margin: 0 15px;
  animation: products-appear 1s ease-out forwards;
}

.products ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.itemFilter {
  width: 130px;
  display: flex;
  justify-content: space-between;
}


@keyframes products-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
