.footer > span {
  margin: "0 16px";
  font-size: "24px";
  font-weight: "bold";
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-blue-color);
  font-size: 13px;
}
